@media screen and (max-width:768px) {
    .container{
        width: 100%;
    }
    .img-titles{
        display: none;
    }
    .section-none{
        padding: 2rem;
    }
    
}






@media screen and (max-width:576px) {
    .container {
        width: 100%;
    }

    .col-sm-4 {
        flex-basis: calc(100% / 3);
    }

}

