.top-hd-black {
    color: white;
    background-color: black;
    justify-content: flex-end;
    padding: .5rem;
}

.border-radius-2 {
    border-radius: 2rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-returnal{ 
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
  
}

.text-col{
    color: white;
}
