.top-hd-black {
    color: white;
    background-color: black;
    justify-content: flex-end;
    padding: 1rem;
}

.lens-icon {
    width: 25px;
    height: 25px;

}

.my-mb-1{
    margin-bottom: 1rem;
}

.p-grey{
    color: grey;
}

.bg-lightgrey{
    background-color: #BEBCBB;
}

.border-radius-2 {
    border-radius: 2rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

.text-black{
    color: black;
}

.text-col {
    color: white;
}

.w-10{
    width: 10px;
}

.w-80{
width: 80px;
}

.color-primary{
    color:#117BD1 ;
}

.section-takestwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.text-bottom {
    padding-top: 15rem;

}

.section-plus{
    padding: 0;
}

.section-bg-darkblue {
    background-color: #161C3B;
}

.container-social {
    padding-left: 5rem;
    padding-right: 5rem;
}

.img-globe {
    width: 25px;
    height: 25px;
}

.img-Sie {
    width: 150px;
}

.img-list{
    padding-bottom: 1rem;
}

.img-discounts{
    padding-bottom: 2rem;
}

.list-style{
    list-style: none;
}

.my-margin{
    margin-bottom: .5rem;
}